<ul>
    
    <% for (var i in tips) { %>
    <% var tip = tips[i]; %>

    <% var accepted = tip.accepted; %>
    <% var isAdmin = session.user && session.user.isAdmin; %>
    <% var isQuizAuthor = session.user && quizAuthorId && quizAuthorId === session.user.id; %>
    <% var isTipAuthor = session.user && tip.AuthorId && tip.AuthorId === session.user.id; %>

    <% if (accepted || isAdmin || isQuizAuthor) { %>
        <li>
            <%= tip.text %>
           <div class="right">
           <small> (by <span id="autor"><%= tip.Author ? tip.Author.username : "Anómino" %></span>) </small>
          </div>

     <% if (!accepted && (isAdmin || isQuizAuthor )) { %>
                <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT">
                        <button>Aceptar</button>
                </a>
            <% } %>
     <% if (isAdmin || isTipAuthor || isQuizAuthor) { %>
                <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE">
                        <button>Borrar</button>
                </a>
            <% } %>
        </li>
    <% } %>
    <% } %>
</ul>


